:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    overflow: visible;
}
.btn {
    background: transparent;
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.2s ease-in;
    outline: none;
}
.btn:hover {
    opacity: 0.9;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid black;
}

.order_sheet {
    display: none;
    border-color: #c4c4c4;
}

.order_title {
    display: grid;
    grid-template-columns: 1;
    border: 1px solid black;
    padding: 10px;
    justify-items: center;
}

.ordered_items {
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 50vh;
    overflow: scroll;
}

.ordered_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    margin: auto;
    width: 600px;

}
.add-undo{
    align-items: end;

}
.add_item {
    cursor: pointer;
}

.pay {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    padding: 10px;
}

button {
    width: fit-content;
    /*background-color: #fff;*/
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 1rem;
    /*color: #333;*/
}
.container-main{
    width: content-box;
    max-width: 960px;
    align-content: center;
    margin: auto;

}
.add_items{
    border: #c4c4c4;
    align-items: end;
}
