:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    overflow: visible;
}
.btn {
    background: transparent;
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.2s ease-in;
    outline: none;
}
.btn:hover {
    opacity: 0.9;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

.bar-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.bar-options button {
    grid-column: 1/4;
}
.bar-products {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: scroll;
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
.product-extra {
    display: none;
}
.product-expanded {
    grid-column: 1/4;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.product-expanded button {
    grid-column: 3/ 3;
    cursor: pointer;
}

.selected {
    background-color: #ddd;
}

.current-order {
    padding: 20px;
    border: 1px solid black;
}
.current-order h3 {
    text-align: center;
    border-bottom: 1px solid black;
}

.order {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.order-sheet{
    align-items: center;
}
.order-product {
    border: 1px solid black;
    padding: 20px;
}

.order-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.active-order {
    padding: 10px;
    text-align: center;
    flex: 4;
    border: 1px solid black;
    border-top: none;
}
.checkout {
    flex: 1;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-top: none;
    border-left: none;
}
.checkout a {
    color: black;
}