<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="customerorder.css" />
    <script src="../Controller/jquery-3.3.1.min.js"></script>
    <script src="../Model/CustomerDictionary.js"></script>
    <script src="../Controller/CustomerControl.js" defer></script>
    <script src="../Controller/Beverages.js"></script>
    <title>The Flying Dutchman</title>
</head>

<body onload="setOrderView()">
<nav>
    <div class="language">
        <h3>FLAG</h3>
    </div>
    <div class="title"><h1 id="title"></h1></div>
    <div class="login"><a id="login" href="/customerlogin.html"></a></div>
</nav>

<div class="container">
    <div class="order-sheet">
        <div class="order_title">
            <div class="order">Your Order</div>
        </div>

        <div class="ordered_items" id="ordered_items">
            <div class="item_list" id="item_list">
            </div>
            <div class="add_item" id="add_item"></div>

            <p align="right">
                <button id="undo"></button>
                <button id="redo"></button>
            </p>
        </div>
        <div class="payment" id="payment">
            <div class="pay">
                <div></div>
                <div></div>
                <div class="total" id="total"></div>
                <div class="total" id="total_val"></div>

                <div id="pay_table"></div>
                <input type="checkbox" id="pay_table_cb">
                <div></div>
                <div></div>
                <div id="pay_bar"></div>
                <input type="checkbox" id="pay_bar_cb">
                <div></div>
                <button id="order"></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>